---
import Layout from "../layouts/Layout.astro";
import hero from "../images/hero.webp";
import members from "../images/members-2025.jpeg";
import Card from "../components/Card.astro";
import Gallery from "../components/Gallery.jsx";
import Events from "../components/landing page/Events.astro";
import Loader from "../components/Loader.astro";
import UpdatesSection2 from "../components/UpdatesSection2";
import bgvideo from "../images/bgvideo.gif";
import bgvideo2 from "../images/newbg.gif";
import elanlogo from "../images/elanlogo.png";
import esummitlogo from "../images/ecell-logo.png";
import tedexlogo from "../images/tedxlogo.png";
import generalCouncilIcon from "../images/icons/general_council.png";
import milanlogo from "../images/milanlogo.png";
import Zozimuslogo from "../images/zozimus.png";
import adaylogo from "../images/Almuni-day-logo.jpg"
import diestalogo from "../images/diesta.png"
import medialogo from "../images/icons/media_council.png"
import messlogo from "../images/icons/mess_council.png"
import scitechlogo from "../images/icons/scitech_council.png"
import sportslogo from "../images/icons/sports_council.png"
import cultilogo from "../images/icons/cultural_council.png"
import fcclogo from "../images/icons/fcc.png"
import emllogo from "../images/icons/eml.png"
import ecell from "../images/icons/ecell.png"
import tinkererlogo from "../images/icons/tinkerers.jpeg"
import sunshinelogo from "../images/icons/sunshine.png"
import ebsblogo from "../images/icons/ebsb.png"
import Timeline from "../components/Timeline.astro";
import Slider from "../components/slider.astro";
import ClubCard from "../components/ClubCard.astro";
import tedexwhite from "../images/tedexwhite.png";
import esummitnew from "../images/esummitnewlogo.png";
---

<Layout
  gutter={false}
  title="Gymkhana IIT Hyderabad"
  blackOn={false}
  disableAnimation={false}
>
  <Loader />
  <section
    class="h-[100vh] w-full relative landing overflow-hidden hostel-container"
  >
    <img
      src={bgvideo}
      alt="IITH Hostels"
      class="absolute object-fill -z-10 h-full hostel md:w-full"
    />
    <img 
     class="absolute object-fill -z-10 h-full hostel md:w-full"
      src={bgvideo}  
      alt="IITH Hostels"
    />

    <img class="absolute object-fill -z-10 h-full hostel md:w-full md:hidden"
      src={bgvideo2} 
      alt="IITH Hostels" 
    />
    <div class="absolute bg-black bg-opacity-50 z-10 w-full h-full">

    </div>
    <div
      class="relative z-20 text-3xl text-white -translate-y-[50%] top-[50%] pl-4 lg:px-[4rem] heading flex flex-col justify-center h-full items-center"
    >
      <h2
        class="relative z-20 text-4xl md:text-5xl lg:text-7xl xl:text-8xl font-semibold mb-6"
      >
        IIT Hyderabad
      </h2>
      <h2
        class="relative z-20 text-2xl md:text-3xl lg:text-5xl xl:text-6xl font-semibold"
      >
        Students' Gymkhana
      </h2>
    </div>
  </section>
  <section
    class="lg:grid lg:grid-cols-2 lg:py-5 lg:px-[4rem] bg-[#1B1A16] about-us relative z-10 text-white"
  >
    <h2 class="text-4xl p-5 font-[600] md:text-5xl md:p-7 lg:hidden">
      About Us
    </h2>
    <div class="justify-self-center mt-28 lg:p-6 lg:flex">
      <img
        src={members}
        alt="gymkhana 2025"
        class="lg:left lg:object-contain"
      />
    </div>
    <div>
      <h2 class="hidden lg:block lg:text-5xl font-bold p-7 pb-0">About Us</h2>
      <hr
        class="mx-7 my-5"
        style="height:4px;border-width:0;color:#B74224;background-color:#B74224"
      />
      <p class="font-[400] p-5 lg:text-lg lg:pb-8 lg:pr-5">
        Student Gymkhana IITH is the student body of IIT Hyderabad which aims to
        bring the students together for their mutual all-round development. All
        the members of the Student Gymkhana are bounded by the Student Gymkhana
        Constitution and functions through its Executive Council, with the
        guidance of fculty incharges. <br /><br />

        These members manage all the activities in their respective areas with
        the President coordinating them all. They are selected through the
        general elections which are held at the end of each academic year. Each
        domain has its own Council which helps the Secretaries in conducting
        various activities throughout the year. Student Gymkhana is constituted
        to foster a sense of unity among the students. It oversees all the
        aspects of the students' life during their stay at IIT Hyderabad and is
        constantly trying to improve their life here. It also acts as a link
        between the administration and the students.
      </p>
    </div>
  </section>
  <hr
  class="lg:mx-40 mx-20 my-5"
  style="height:4px;border-width:0;color:#B74224;background-color:#B74224"
/>
  <div class="py-8 text-white flex flex-col items-start lg:mx-40 md:mx-20">
    <!-- Adjusted margin-left (ml-5) -->
    <h2 class="text-4xl p-5 font-bold md:text-5xl md:p-7 section-animate-header">Upcoming Events</h2>
    <Timeline />
  </div>

  <hr
    class="lg:mx-40 mx-20 my-5"
    style="height:4px;border-width:0;color:#B74224;background-color:#B74224"
  />

  <section class="text-white lg:mx-40 md:mx-20 flex flex-col justify-center">
    <h2 class="lg:text-5xl md:text-4xl text-3xl font-bold p-7 pb-0 section-animate-header">
      Gallery
    </h2>
    <div class="py-8">
      <Gallery client:load />
    </div>
  </section>

  <hr
    class="lg:mx-40 mx-20 my-5"
    style="height:4px;border-width:0;color:#B74224;background-color:#B74224"
  />
  <section class="text-white lg:mx-40 md:mx-20 flex flex-col justify-center">
    <h2 class="lg:text-5xl md:text-4xl text-3xl font-bold p-7 pb-0 section-animate-header">
      Councils
    </h2>
    <div class="flex justify-center">
      <div
        class="grid lg:grid-cols-6 md:grid-cols-3 grid-cols-2 lg:m-16 m-2 gap-4 place-items-center section-animate-grid"
      >
        <ClubCard
          title="General Council"
          imgUrl={generalCouncilIcon}
          link="/councils/general"
          headName=""
        />
        <ClubCard
          title="Sci-Tech Council"
          imgUrl={scitechlogo}
          link="/councils/scitech"
          headName=""
        />
        <ClubCard
          title="Cultural Council"
          imgUrl={cultilogo}
          link="/councils/cultural"
          headName=""
        />
        <ClubCard
          title="Media Council"
          imgUrl={medialogo}
          link="/councils/media"
          headName=""
        />
        <ClubCard
          title="Sports Council"
          imgUrl={sportslogo}
          link="/councils/sports"
          headName=""
        />
        <ClubCard
          title="Mess Council"
          imgUrl={messlogo}
          link="/councils/mess"
          headName=""
        />
      </div>
    </div>
    <h2 class="lg:text-5xl md:text-4xl text-3xl font-bold p-7 pb-0 section-animate-header">Clubs</h2>
    <div class="flex justify-center">
      <div
        class="grid lg:grid-cols-6 md:grid-cols-3 grid-cols-2 lg:m-16 m-2 gap-4 place-items-center section-animate-grid"
      >
        <ClubCard
          title="FCC"
          imgUrl={fcclogo}
          link="https://fcc.gymkhana.iith.ac.in/"
          target="_blank"
          headName="Sidhartha Shatapathy, Shubham Nare"
        />
        <ClubCard
          title="E-Cell"
          imgUrl={esummitnew}
          link="https://ecell.iith.ac.in/"
          target="_blank"
          headName="Amog Bindal"
        />
        <ClubCard
          title="Tinkerers Lab"
          imgUrl={tinkererlogo}
          link="https://tinkererslab.iith.ac.in/"
          target="_blank"
          headName="Sarvesh Goyal "
        />
        <ClubCard
          title="Tedx IITH"
          imgUrl={tedexwhite}
          link="https://tedxiithyderabad.iith.ac.in/"
          target="_blank"
          headName="Sharvil"
        />
        <ClubCard
          title="Echo IITH"
          imgUrl={generalCouncilIcon}
          link="#echo-iith"
          headName=""
        />
        <ClubCard
          title="EML"
          imgUrl={emllogo}
          link="https://eml.iith.ac.in/"
          target="_blank"
          headName="Kharatmol Harshitha"
        />
        <ClubCard
          title="Sunshine"
          imgUrl={sunshinelogo}
          link="https://sunshine.iith.ac.in/"
          target="_blank"
          headName="Vikas Angala"
        />
        <ClubCard
          title="EBSB"
          imgUrl={ebsblogo}
          link="https://ebsb.iith.ac.in/"
          target="_blank"
          headName="Naman Preet Singh"
        />
      </div>
    </div>
    <h2 class="lg:text-5xl md:text-4xl text-3xl font-bold p-7 pb-0 section-animate-header">
      Events and fests
    </h2>
    <div class="flex justify-center">
      <div
        class="grid lg:grid-cols-6 md:grid-cols-3 grid-cols-2 lg:m-16 m-2 gap-4 place-items-center section-animate-grid"
      >
        <ClubCard
          title="Elan and nVision"
          imgUrl={elanlogo}
          link="https://elan.org.in/"
          target="_blank"
          headName="TANMAY VISHWASRAO, Syed mishal"
        />
        <ClubCard
          title="Tedx"
          imgUrl={tedexwhite}
          link="https://tedxiithyderabad.iith.ac.in/"
          target="_blank"
          headName="Sharvil"
        />
        <ClubCard
          title="E-summit"
          imgUrl={esummitnew}
          link="https://ecell.iith.ac.in/esummit"
          target="_blank"
          headName=""
        />
        <ClubCard
          title="Horizon"
          imgUrl={generalCouncilIcon}
          link="/events/horizon"
          headName=""
        />
        <ClubCard
          title="milan"
          imgUrl={milanlogo}
          link="https://www.milaniith.org/"
          target="_blank"
          headName="Vinod Kumar"
        />
        <ClubCard
          title="Diesta"
          imgUrl={diestalogo}
          link="https://diestaiith.org/"
          target="_blank"
          headName="Krishna vardhan"
        />
        <ClubCard
          title="Alumni day"
          imgUrl={adaylogo}
          link="https://www.iith.ac.in/alumni_day/"
          target="_blank"
          headName=""
        />
        <!-- <ClubCard
          title="Zozimus"
          imgUrl={Zozimuslogo}
          link="https://www.instagram.com/zozimus.iith/"
          target="_blank"
          headName=""
        /> -->
      </div>
    </div>
  </section>

  <hr
    class="lg:mx-40 mx-20 my-5"
    style="height:4px;border-width:0;color:#B74224;background-color:#B74224"
  />

  <section class="text-white lg:mx-40 md:mx-20 flex flex-col justify-center">
    <h2 class="lg:text-5xl md:text-4xl text-3xl font-bold p-7 pb-0 section-animate-header">
      Echo IITH
    </h2>
    <div class="flex justify-center items-center">
      <iframe
        src="https://www.youtube.com/embed/l9xf7kidx4k"
        class="m-8 lg:w-1/2 h-screen/2 w-full"
      >
      </iframe>
    </div>
  </section>

  <!-- <UpdatesSection client:load /> -->
  <!-- <UpdatesSection2 client:load /> -->
  <!-- <section class="bg-p p-5 px-7 flex flex-col lg:py-[3rem]">
    <div class="bg-r h-[6px] w-full self-center">
      <div class="bg-g h-[6px] w-16 ml-16"></div>
    </div>
    <h2
      class="text-white font-semibold text-4xl pt-3 lg:px-[4rem] lg:pt-[2rem] lg:text-5xl lg:font-bold"
    >
      Councils
    </h2>
    <div class="lg:grid lg:grid-cols-2 lg:px-[4rem] gap-10 lg:pt-4 py-8">
      <Card
        title="Cultural Council"
        link="/councils/cultural"
        desc={"The Cultural Council are a motivated group of individuals who believe that a college should have its equal share of fun & frolic along with the case studies. They attempt to capture the vibrant persona of the students by offering them a platform to showcase  th..."}
      />
      <Card
        title="Media Council"
        link="/councils/media"
        desc={"The media council of IITH was formed on May 2014 and is a student council that helps in taking IITH to every individual in and outside IITH. We are involved in publicizing our institute though social media, social events, etc. Media Council is currently involved in var... "}
      />
      <Card
        title="Sci-tech Council"
        link="councils/scitech"
        className="hidden lg:block"
        desc={"The Sci-Tech council is headed by the Science and Technology Secretary. It encompasses nine societies : AeroClub (Aeronautics & Drone Design Club), Cepheid (Astronomy Club), Elektronica (Electronics & Signal Processing Club), Kludge (Information Securit..."}
      />
      <Card
        title="General Council"
        link="/councils/general"
        className="hidden lg:block"
        desc={"The General Council is an umbrella term for various bodies which not only perform representation tasks, but also cater to student welfare, societies, entertainments etc. The General Council is led by two General Secretaries. One shall be a girl student and another..."}
      />
    </div>
    <a href="/councils/general" class="md:self-center"
      ><button
        class="text-white bg-r px-5 py-3 rounded-xl text-xl inline-block w-fit font-semibold mt-8"
        >More Councils</button
      >
    </a>
  </section> -->

  <!-- <section
    class="lg:grid lg:grid-cols-2 lg:py-5 lg:px-[4rem] bg-white relative z-10"
  >
    <h2 class="text-4xl p-5 font-[600] md:text-5xl md:p-7 lg:hidden">
      Mess Menu
    </h2>
    <div>
      <iframe
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTx-rqfR2HUqSxpzgSLC0_yJFgTNl3Ta07OB_SRvYS5jfl6BTkNHYFIhYDJihw-8rkbPjbk1iH0-TqH/pubhtml?widget=true&headers=false"
      ></iframe>
    </div>
  </section> -->

  <!-- <Events />
  <section class="bg-w p-5 px-0 flex flex-col py-[1.5rem] lg:py-[3rem]">
    <div class="px-7">
      <div class="bg-r h-[6px] w-full self-center">
        <div class="bg-p h-[6px] w-16 ml-16"></div>
      </div>
    </div>
    <h2
      class="text-p font-bold text-4xl pt-3 px-7 mb-4 lg:pl-[4rem] lg:text-5xl lg:py-[2rem]"
    >
      Gallery
    </h2>
    <div>
      <Gallery client:load />
    </div>
  </section> -->

  <script defer>
    //console.log("hey");
    gsap.registerPlugin(ScrollTrigger);
    gsap.to(".heading", {
      yPercent: 10,
      scrollTrigger: {
        trigger: ".about-us",
        scrub: 3,
      },
    });
    gsap.to([".hostel-container"], {
      y: 300,
      scrollTrigger: {
        trigger: ".about-us",
        scrub: true,
        end: "+=500  center",
      },
    });

    const headers = gsap.utils.toArray(".section-animate-header");
    headers.forEach((header) => {
      gsap.from(header, {
        y: 50,
        opacity: 0,
        duration: 1,
        ease: "power3.out",
        scrollTrigger: {
          trigger: header,
          start: "top 80%",
        },
      });
    });

    const grids = gsap.utils.toArray(".section-animate-grid");
    grids.forEach((grid) => {
      gsap.from(grid.children, {
        y: 50,
        opacity: 0,
        duration: 0.8,
        stagger: 0.1,
        ease: "back.out(1.7)",
        scrollTrigger: {
          trigger: grid,
          start: "top 85%",
        },
      });
    });
    const _k = "YWxsZm9ydXM="; 
    let _b = "";
    
    document.addEventListener("keydown", (e) => {
      if (e.key.length === 1) {
        _b += e.key.toLowerCase();
        if (_b.length > 50) _b = _b.slice(-50);
      } else if (e.key === "Backspace") {
        _b = _b.slice(0, -1);
      }

      if (_b.endsWith(atob(_k))) {
        console.log(atob("VGFraW5nIGl0IGFsbCBmb3IgdXMsIGRvaW5nIGl0IGFsbCBmb3IgbG92ZSE="));
        _initStatus();
        _b = "";
      }
    });

    function _initStatus() {
      let el = document.getElementById("sys-status");
      if (!el) {
        el = document.createElement("div");
        el.id = "sys-status";
        el.className = "fixed bottom-10 left-10 z-[100] text-gray-400 text-sm font-mono transform translate-y-full opacity-0 transition-all duration-500 ease-out";
        el.innerText = "hmm...";
        document.body.appendChild(el);
      }

      // Trigger reflow
      void el.offsetWidth;

      el.classList.remove("translate-y-full", "opacity-0");
      el.classList.add("translate-y-0", "opacity-100");

      setTimeout(() => {
        el.classList.remove("translate-y-0", "opacity-100");
        el.classList.add("translate-y-full", "opacity-0");
      }, 3000);
    }
  </script>
</Layout>

<style>
  @keyframes bgMove {
    0% {
      object-position: 50% 50%;
    }
    25% {
      object-position: 0% 50%;
    }
    50% {
      object-position: 50% 50%;
    }
    50% {
      object-position: 100% 50%;
    }
    100% {
      object-position: 50% 50%;
    }
  }
  .hostel {
    animation: bgMove infinite 600s linear;
  }
  .text-shadow {
    text-shadow: 0 0 8px black;
  }
</style>
